$font-heading: "Barlow Condensed", sans-serif;
$font-body: "Figtree", sans-serif;

$extra-bold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;

$h1: 72px;
$h2: 54px;
$h3: 40px;
$h4: 32px;

$p-small: 16px;
$p-medium: 18px;
$p-large: 20px;
$p-xlarge: 22px;
